# 環境設定區
[Settings]
# 服務網址
SERVICE_URL = https://map.gis.tw/SystemReport/linebotgis_api.aspx
# 機器人 TOKEN
BOT_TOKEN = 請輸入BOT_TOKEN
# 機器人 USER_AGENT
USER_AGENT = Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 GIS FCU Focusit (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36
# 輪詢秒數
POLL_SECONDS = 5
# 送出後是否 Alt+F4 關閉目前聊天室視窗
CLOSE_CHAT_AFTER_SEND = true
